*{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace  ;
}
.icon{
    display: none;
}
header{
    background-color: rgb(255, 255, 255);
    position: fixed ;
    width: 100%;
    top: 0;
}
header ul{
    background-color:transparent;
    position: absolute;
    width: 60%;
    right: 0;
    top:0;
    line-height: 100px;
    /*padding-left:30% ;
    padding-right: 30px;*/
}
header li{
    display: inline;
    margin: 0px 10%;
    font-size: 18px;
    font-weight:200;
}
header a{
    text-decoration: none;
    color: black;
}
header ul a:hover{ 
    text-decoration: underline;
    color: rgb(182, 182, 182);
}
header ul a:active{    
    background-color: gray;
}
header h1{
    height: 80px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    line-height: 100px;
    padding-left: 50px;
    padding-right: 50px;
}
/*按鈕跳出選單區*/
.buttondown{
    cursor: pointer;
}
.buttondown a{
    display: block;
    padding:  10px;
    min-width: 80px;
    font-size: 15px;
    font-style:normal;
}
.buttondown .buttoncontent{
    display: none;
    background-color: rgb(252, 252, 252);
    position: absolute;
    box-shadow: 2px 2px 5px  #939292;
    right: 1vw;
    top: 4.5em;
    border-radius: 10px;
}
.buttondown:hover img{
    background-color: rgb(226, 226, 226);
}
.buttondown:hover .buttoncontent
{
    display: block;
}





@media(max-width:1024px){
    header li{
        display: none;
    }
    .icon{
        display:block;
        position: absolute;
        right: 5%;
        top:1.7em;
    }
}